<header>
  <input type="checkbox" name="" id="checkbox1">
  <div class="d-flex align-items-center justify-content-between">
    <button class="button-top-bar-logo" (click)='changeCategory(0)'>
      <a href="/home" class="logo d-flex align-items-center">
        <img
          src="../../assets/img/as.png"
          alt="">
        <span class="d-none d-lg-block">Blogosphere</span>
      </a>
    </button>
    
  </div>
  <div class="search-box">
    <form action="">
      <input type="text" name="search" id="search-bar" placeholder="Search" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()">
      <button type="submit" (click)="listSearchedContents()"><img src="../../assets/img/loupe.png" alt="image"></button>
    </form>
  </div>
  <ul class="nav-bar">
    <li><button class="button-trends" (click)="listTrends()"><a routerLink="/home">Trends</a></button></li>
    <li>
      <a>Categories <img src="../../assets/img/down-arrow.png" alt="" class="dropdown-img"></a>
      <ul class="dropdown">
        <div *ngFor="let item of categoriess">
          <li><button class="button-top-bar" (click)='changeCategory(item.categoryId)'><a href="">{{item.categoryTitle}}</a> </button></li>
        </div>
      </ul>
    </li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="menu">
    <label for="checkbox1">
      <img src="../../assets/img/meat.png" alt="">
    </label>
  </div>
  <ul class="profile">
    <li>
      <a routerLink="/profil" class="mr-50"><img src="../../assets/img/user.png" alt="" class="profile-img" id></a>
      <ul>
        <li><a routerLink="/login">Sign In</a></li>
        <li><a routerLink="/register">Sign Up</a></li>
        <li><a routerLink="">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</header>