<header>
  <input type="checkbox" name="" id="checkbox1">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img
        src="../../assets/img/logo.png"
        alt="">
      <span class="d-none d-lg-block">Blogosphere</span>
    </a>
  </div>
  <div class="search-box">
    <form action="">
      <input type="text" name="search" id="search-bar" placeholder="Search">
      <button type="submit"><img src="../../assets/img/loupe.png" alt=""></button>
    </form>
  </div>
  <ul class="nav-bar">
    <li><a href="#">Trends</a></li>
    <li>
      <a href="#">Categories <img src="../../assets/img/down-arrow.png" alt="" class="dropdown-img"></a>
      <ul class="dropdown">
        <div *ngFor="let item of categories">
          <li><a href="">{{item.type}}</a></li>
        </div>
      </ul>
    </li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="menu">
    <label for="checkbox1">
      <img src="../../assets/img/meat.png" alt="">
    </label>
  </div>
  <ul class="profile">
    <li>
      <a href="#" class="mr-50"><img src="../../assets/img/user.png" alt="" class="profile-img" id></a>
      <ul>
        <li><a href="">Sign In</a></li>
        <li><a href="">Sign Up</a></li>
        <li><a href="">Sign Out</a></li>
      </ul>
    </li>
  </ul>
  
  
</header>