<main>
    <section>
        <div class="all-div-style-mark">
            <div class="container m-25">
                <div class="row align-items-top">
                    <div class="container mt-5 mb-5">
                        <div class="d-flex justify-content-center row">
                            <div class="d-flex flex-column col-md-8">

                                <div class="bg-white p-2 px-4 div-style">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="text-center text-success">
                                                <th scope="col" colspan="5">GROUP 6</th>
                                            </tr>

                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First</th>
                                                <th scope="col">Last</th>
                                                <th scope="col">School Number</th>
                                                <th scope="col">E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Samet</td>
                                                <td>CAN</td>
                                                <td>150120528</td>
                                                <td>cansamet1223@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Kadir Berk</td>
                                                <td>YAĞAR</td>
                                                <td>150120016</td>
                                                <td>ykadirberk2@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Ela Nur</td>
                                                <td>ALP</td>
                                                <td>150119673</td>
                                                <td>elanur714@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Berkkan</td>
                                                <td>RENÇBER</td>
                                                <td>150119011</td>
                                                <td>berkkanrencber@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Murat</td>
                                                <td>ÖZCAN</td>
                                                <td>150119008</td>
                                                <td>mrtzcn08@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Ali</td>
                                                <td>KOŞAR</td>
                                                <td>150119003</td>
                                                <td>1ali.kosar@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>Hakan</td>
                                                <td>UZ</td>
                                                <td>150119001</td>
                                                <td>uz_hakan20@hotmail.com</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>