<div class="search-box mb-4">
  <form action="">
    <input type="text" name="search" id="search-bar" placeholder="Search" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()">
    <button type="submit" (click)="listSearchedUsers()"><img src="../../assets/img/loupe.png" alt="image"></button>
  </form>
</div>
<div class="list-group" *ngFor="let item of users">
    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <h5 class="mb-1">{{item.userName}}</h5>
        <!-- <h6 class="mb-1">{{item.editor}}</h6> -->
        <small class="text-muted">{{item.userType}}</small>
        <a href="/profil/{{item.userId}}" class="btn btn-success" *ngIf="item.blocked==0" (click)="setOnUser(item.userId)">See User Profile</a>
        <a href="/profil/{{item.userId}}" class="btn btn-danger" *ngIf="item.blocked!=0" (click)="setOnUser(item.userId)">See User Profile</a>
      </div>
    </a>
</div>
<div class="row mt-3" id="pagination-row">
  <div class="col d-flex justify-content-center mb-3">
      <div class="btn-group">
          <button
          *ngFor="let item of pageNumbers"
          (click)="changePage(item)"
          class="btn btn-outline-success"
          [class.active]="item==selectedPage">
          {{item}}
          </button>
      </div>
  </div>
</div>