.b-card{
    border-radius: 25px;
}

  .navbar-content{
    margin-top: 60px;
    background-color:#D6D6D6;
  }

  .card{
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

