<main>
  <section>
    <div class="cards-container" style="background-color: #E3E3E3;">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of contents;">
            <div class="card shadow-lg">
              <!-- <img src={{item.image}} alt="img" class="b-card py-2"> -->
              <img src="" alt="img" class="b-card py-2" id={{item.contentId}}>
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.shortDescription}}</p>
                <a routerLink="/content-details/{{item.contentId}}" class="btn btn-primary" (click)="setContentDetail(item.contentId);setCommentByContent(item.contentId);">See details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>